<div class="footer-content">
  <h3>LUV FIT</h3>
  <p>LUV FIT is the health and fitness Consultancy website where we can make use of many things
    like weight loss,weight gain and weight-management.</p>
</div>
<div class="footer-bottom"><ul class="socials">
    <li><a routerLink="https://www.facebook.com/profile.php?id=100090517355244"><i class="fa fa-facebook"></i></a></li>
    <li><a routerLink="https://twitter.com/KDhivyaa"><i class="fa fa-twitter"></i></a></li>
    <li><a routerLink="https://www.linkedin.com/in/luvfit-a-322640266/"><i class="fa-brands fa-linkedin"></i></a></li>
   </ul>

  <p>copyright&copy2022 </p><p> <a routerLink="#">LUV FIT</a>  </p>

</div>
