<body>
  <form [formGroup]="upiForms" (ngSubmit)="bill()">
    <div class="cent">
<div class="make">
    <div class="form-group">
      <h3>UPI MONEY</h3>
      <!-- <label >Enter Your VPA</label>
      <input type="text" placeholder="yourname@bankname" formControlName="email">
      <span style="color:red;" *ngIf="email && email.touched && email.invalid">Error</span>
      <span style="color:green;" *ngIf="email && email.valid  && email.touched">Correct</span>
      </div> -->


      <div class="form-group">
        <label for="UserName">Username</label>
        <input class="form-control" type="text"  formControlName="username" placeholder="Please Enter Username">
      </div>
      <div class="error"
        *ngIf="upiForms.controls['username'].invalid && upiForms.controls['username'].touched" >
        <small *ngIf="upiForms.controls['username'].errors?.['required']"> Enter Username</small>
        <small *ngIf="upiForms.controls['username'].errors?.['pattern']"> Provide Proper Username</small>
      </div>

      <div class="form-group">
        <label for="id">Enter Your VPA</label>
        <input class="form-control" type="text"  formControlName="id" placeholder="yourname@bankname" >
      </div>
      <div class="error"
        *ngIf="upiForms.controls['id'].invalid && upiForms.controls['id'].touched" >
        <small *ngIf="upiForms.controls['id'].errors?.['required']"> Enter your VPA</small>
      </div>
  <button type="submit"  [disabled]="upiForms.invalid">Pay now</button>
</div>
</div>
</div>
</form>
</body>
