<!-- <body>
  <form  [formGroup]="RegForm" (submit)="submitForm()" >
  <div class="make">
    <div class="form-group">
     <label >Name</label>
     <input type="text" placeholder="Enter username" formControlName="username">
     <span style="color:red;"*ngIf="username && username.invalid && username.touched">Enter username</span>
     <span style="color:green;"*ngIf="username && username.valid && username.touched">Correct</span> --> -->

     <!-- </div>

     <div class="form-group">
       <label >Email</label>
       <input type="text" placeholder="Enter Email"  formControlName="email"> -->
       <!-- <span style="color:red;"*ngIf="email && email.invalid && email.touched">Enter email</span>
       <span style="color:green;"*ngIf="email && email.valid && email.touched">Correct</span> -->
       <!-- </div>

       <div class="form-group">
         <label >Date Of Birth</label  >
         <input type="date"  formControlName="dob">
         </div>

       <div class="form-group">
         <label >Weight</label>
         <input type="text" placeholder="Enter weight" formControlName="weight"> -->
         <!-- <span style="color:red;"*ngIf="weight &&weight.invalid && weight.touched">Enter weight</span>
       <span style="color:green;"*ngIf="weight && weight.valid && weight.touched">Correct</span> -->
         <!-- </div>

         <div class="form-group">
           <label >Height</label>
           <input type="text" placeholder="Enter height" formControlName="height"> -->
            <!-- <span style="color:red;"*ngIf="height &&height.invalid && height.touched">Enter weight</span>
       <span style="color:green;"*ngIf="height && height.valid && height.touched">Correct</span> -->
           <!-- </div>
           <div class="form-group">
           <label >GENDER</label>
               <input type="radio" name="gender-choice" formControlName="gender">
               <label for="gender-male">MALE</label>
               <input type="radio" name="gender-choice">
               <label for="gender-female">FEMALE</label>
               </div>

               <div class="form-group">
               <label >TIMING SLOT</label>
               <select  formControlName="slot">
                   <option selected="" value="Default">(Please select a Timeslot)</option>
                   <option value="A.M1">6-9 A.M</option>
                   <option value="A.M2">9-12 A.M</option>
                   <option value="P.M1">1-4 P.M</option>
                   <option value="P.M2">5-8 P.M</option>
                   </select>
                </div>

               <div class="form-group">
                   <label for="desc">HEALTH ISSUES(Optional):</label>
                   <textarea formControlName="desc" id="desc" ></textarea>
                   <button type="submit"> REGISTER</button>
               </div> -->

              <!-- </div>
            </form>
          <app-footer></app-footer>
        </body> -->
