
<style>
	img{
		width: 550px;
		height: 300px;
		align-items: center;
		margin-left: 400px;
	}
	body{
        background-image: url("https://image.freepik.com/free-photo/mango-slices-background_38432-11.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
		font-family: Candara Light;
		color:rgb(10, 8, 8);
	}
	</style>
<body>

	<h1 style="text-align:center"><u>DESSERT RECIPES</u></h1>
	<h1 style="text-align:center"><u><i> 1. ABC Pudding - Avocado, Banana, Chocolate Delight</i></u></h1>
	<img src="https://tse1.mm.bing.net/th?id=OIP.kqu-qzGqf2gF8hjBs5UOYwAAAA&pid=Api&P=0">
	<h1>PROCEDURE:</h1>
		<ol><i><b>
			<li style="font-size: 25px">Place avocados, bananas, and cocoa powder in a blender; puree until smooth.</li>
			<li style="font-size: 25px">Pour pudding into serving bowls and sprinkle additional cocoa powder on top for garnish</li>
			<li style="font-size: 25px">Chill in refrigerator for texture and flavor to develop, at least 1 hour.</li>
   </b></i></ol>
		<h1 style="text-align:center"><u><i> 2. Carrot Cake </i></u></h1>
		<img src="https://tse3.mm.bing.net/th?id=OIP.fU1U3KiJd17cP4kv_l6AKwHaFc&pid=Api&P=0">
		<h1>PROCEDURE:</h1>
		<ol><i><b>
			<li style="font-size: 25px">Combine grated carrots and brown sugar in a medium bowl. Let sit for 1 hour, then stir in raisins.</li>
			<li style="font-size: 25px">Preheat the oven to 350 degrees F (175 degrees C). Grease and flour two 10-inch round cake pans.</li>
			<li style="font-size: 25px">Beat eggs in a large bowl until light. Gradually beat in white sugar, oil, and vanilla. Combine flour, cinnamon, baking soda, and salt in a separate bowl, then stir into egg mixture until absorbed. Stir in carrot mixture and walnuts. Pour evenly into the prepared pans.</li>
			<li style="font-size: 25px">Bake in the preheated oven until an inserted toothpick comes out clean, 45 to 50 minutes. Cool for 10 minutes before removing cake layers from the pans; let cool completely.</li>
</b></i></ol>
		<h1 style="text-align:center"><u><i> 3.POWER COOKIES</i></u></h1>
	<img src="https://d1fm27ee7pjs8v.cloudfront.net/images/thumbnails/1000/posts/original/img_563677d671692.jpg">
	<h1>PROCEDURE:</h1>
		<ol><b><i>
			<li style="font-size: 25px">Preheat the oven to 325 degrees F (165 degrees C). Grease cookie sheets. Grind the oats in a blender until resembling coarse flour.</li>
			<li style="font-size: 25px">In a medium bowl, mash beans to a smooth paste. Stir in the white sugar, brown sugar and vanilla until well blended. Combine the ground oats, baking powder, baking soda and cinnamon; blend into the bean mixture. Stir in the dates, coconut, raisins and walnuts. Drop dough by heaping spoonfuls onto the prepared cookie sheet.</li>
			<li style="font-size: 25px">Bake for 10 to 15 minutes in the preheated oven, until golden. Cool on baking sheets for 5 minutes then remove to wire racks to cool completely.</li>
</i></b></ol>
		<h1 style="text-align:center"> <u><i>4.STRAWBERRY-ALMOND CEREAL BARS</i></u></h1>
	<img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2015/4/2/1/FNK_Strawberry-Almond-Cereal-Bars_s4x3.jpg.rend.hgtvcom.826.620.suffix/1428441210545.jpeg">
	<h1>PROCEDURE:</h1>
		<ol><i><b>
			<li style="font-size: 25px">Melt the butter in a medium saucepan over medium heat. Add the marshmallows and salt and stir with the prepared spoon until the marshmallows have completely melted, about 2 minutes. Stir in the almond butter and vanilla.</li>
			<li style="font-size: 25px">Add the rice cereal and strawberries and stir until the mixture is fully combined. Remove the pan from the heat and let the mixture cool slightly for a few minutes.</li>
			<li style="font-size: 25px"> Let stand at room temperature until firm, about 20 minutes.</li>
			<li style="font-size: 25px">Cut into 9 bars. Store at room temperature in an airtight container up to 2 days.</li>
</b></i></ol>
     <h1 style="text-align:center"> <u><i>5.BANANA BERRY BLENDED SOFT SERVE </i></u></h1>
	<img src="https://i.pinimg.com/originals/09/16/69/0916691a048466683f67f659cdb7795c.jpg">
	<h1>PROCEDURE:</h1>
		<ol><i><b>
			<li style="font-size: 25px">Slice 2 ripe bananas onto a sheet of parchment paper.</li>
			<li style="font-size: 25px">Freeze the banana slices for 2 hours.</li>
			<li style="font-size: 25px">In a blender on high: blend the banana slices , ½ cup of frozen raspberries or blueberries and 1-3 tablespoons of coconut milk or almond milk until desired consistency.</li>
			<li style="font-size: 25px">Ready to EAT - Quick smooth and healthy!</li>
</b></i></ol>
		<h1 style="text-align:center"><u><i>6. FUDGY SWEET POTATO BROWNIES</i></u></h1>
	<img src="https://thekitchencommunity.org/wp-content/uploads/2022/03/4_healthy-desserts-563x750.jpg">
	<h1>PROCEDURE:</h1>
		<ol><i><b>
			<li style="font-size: 25px">To a large mixing bowl, add sweet potato purée, maple syrup, almond butter, vanilla extract, and avocado oil and stir to combine</li>
			<li style="font-size: 25px">Add cacao powder, sea salt, and baking powder and stir to combine. Then add oat flour and stir until a thick, scoopable batter is achieved</li>
			<li style="font-size: 25px">Transfer batter to your parchment-lined baking dish and spread into an even layer using a spoon or rubber spatula. Then top with pecans and chocolate chips</li>
			<li style="font-size: 25px">Lift out of pan and slice. Enjoy warm or room temperature. Store leftovers covered at room temperature up to 3 days, in the refrigerator up to 5-7 days, or in the freezer up to 1 month</li>
</b></i></ol>


<app-footer></app-footer>
