<body>
  <article>
    <h1>MANAGE NOW</h1>
  </article>
  <div class="box">
  <div class="create">
    <h6>Joined with us</h6><br>
    <a routerLink="mails"> Mails</a><br>
    </div>

    <div class="create">
     <h6> Oversighting</h6><br><br>
     <a routerLink="nutritionist"> Nutritionist</a><br>
     <a routerLink="yoga">Yoga Instructor</a><br>
     <a routerLink="coach"> Fitness Coach</a><br>
    </div>

    <div class="create">
      <h6> Payment Details</h6><br><br>
      <a routerLink="upiTable"> Upi Details</a><br>
      <a routerLink="creditTable">Credit Details</a><br>
      <a routerLink="debitTable">Debit Details</a><br>
     </div>

  <div class="create">
    <h6>Booked Details</h6><br>
    <a routerLink="details">See Details</a><br>
  </div>
</div>
</body>
