
<div class="plan"><h1>MEMBERSHIP PLAN</h1></div>
     <div class="box-container">
        <div class="bot">
            <h3 class="title">BASIC</h3>
            <h3 class="price">Cost : 40K</h3>
            <h3 class="price">4 months</h3><br><br>
            <ul>
                <li><i class="fa"></i>Meditation</li>
                <li><i class="fa"></i>Cardio Workout</li>
                <li><i class="fa"></i>Yoga</li>
                <li><i class="fa"></i>Diet Consultancy</li>
                <li><i class="fa"></i>Nutrician Consultancy</li>
                <li><i class="fa"></i>Weekly Twice Checkup</li>
                <li><i class="fa"></i>Customised Workouts</li>
            </ul><br>
            <a routerLink="payment" ><button class="btn">Pay now ></button></a>
          </div>

        <div class="bot">
            <h3 class="title">STANDARD</h3>
            <h3 class="price">Cost : 80K</h3>
            <h3 class="price">8 months</h3><br><br>
            <ul>
                <li><i class="fa"></i>Meditation</li>
                <li><i class="fa"></i>Cardio Workout</li>
                <li><i class="fa"></i>Yoga</li>
                <li><i class="fa"></i>Diet Consultancy</li>
                <li><i class="fa"></i>Nutrician Consultancy</li>
                <li><i class="fa"></i>Weekly Twice Checkup</li>
                <li><i class="fa"></i>Customised Workouts</li>
            </ul><br>
            <a routerLink="payment" ><button class="btn">Pay now ></button></a>

        </div>

        <div class="bot">
            <h3 class="title">PREMIUM</h3>
            <h3 class="price">Cost : 1L</h3>
            <h3 class="price">12 months</h3><br><br>
            <ul>
                <li><i class="fa"></i>Meditation</li>
                <li><i class="fa"></i>Cardio Workout</li>
                <li><i class="fa"></i>yoga</li>
                <li><i class="fa"></i>Diet Consultancy</li>
                <li><i class="fa"></i>Nutrician Consultancy</li>
                <li><i class="fa"></i>Weekly Twice Checkup</li>
                <li><i class="fa"></i>Customised Workouts</li>
            </ul><br>
            <a routerLink="payment" ><button class="btn">Pay now ></button></a>

        </div>

     </div>
<div class="whatsapp">
  <a href=" https://wa.me/919361627761"><i class="fa-brands fa-whatsapp fa-fade"></i></a>
  </div>
