<body>
  <div class="align">
      <h3>PAYMENT METHOD</h3>
  </div>
  <div id="grid">
      <div class="cells">
         <h6>UPI method</h6>
         <div class="fit-content">
             <a routerLink="upi">
            <img src="/assets/images/upi.jpeg"></a>
         </div>
     </div>
    <div class="cells">
     <h6>Debit Card</h6>
     <div class="fit-content">
         <a routerLink="debit">
          <img src="/assets/images/debit.jpeg"></a>
     </div>
    </div>
      <div class="cells">
         <h6>Credit Card</h6>
         <div class="fit-content">
             <a routerLink="credit">
              <img src="/assets/images/credit.jpeg"></a>
         </div>
     </div>
</div>
</body>
