
<body>
    <div class="pic">
        <img src="assets\images\community.jpg">
    </div>
    <div class="join">Join our Community</div>
    <div class="set">
    <div class="align">Benefits of Joining:</div><br>
    <div class="head1">1.You don’t have to do any of the thinking</div>
    <div class="content">
    If you are like me, the less decisions you have to make and the less
    you have to think about what exercise is next,<br> how many reps, what type of weight to
     use etc, the better. Literally, just show up and you will be guided for the<br>
     warm ups, the workout and the cool down stretching. All of the exercise drama goes away!
    </div><br>

    <div class="head1">2.You will get that “extra push”</div>
    <div class="content">
        Many people worked out from home through the pandemic
         and as they returned to Feed Your Soul Fitness,<br> so many have said “Wow,
         I just get a better workout here!” The environment of having a coach walking around
         to <br>ensure you don’t quit with just 10 seconds to go will ensure you push yourself yet stay
          safe at the same time.<br> That ‘extra push’ is also prevalent because there are others inside
          the classes also doing
        their best to push through.<br> Talk about motivation!
    </div><br>

    <div class="head1">3.Your form, technique and approach will improve</div>
    <div class="content">
        You might think you have the best squat technique or chest press technique, but when
         you are in a Fitness<br> Community with a certified coach,
         you will most certainly learn a thing or two when it comes to form, technique <br>and approach.
       Proper form is key to ensure you are effective with the specific exercise; especially
        if you have an <br>injury. Even if you have a mirror at home, it doesn’t compare to external
         eyes on your body in a 360 degree fashion.<br>
          There are always improvements for technique
          whether it’s engaging a certain muscle, using your breath in a <br>particular way
          or even adjusting neck alignment. These technique improvements can help prevent
           injuries as well!
    </div><br>
    <div class="insert">
        <img src="https://static6.businessinsider.com/image/54a6d3476bb3f7af2f8b4569-1024-683/people%20running%20marathon.jpg">
    </div>
<br>
    <div class="head1">4.Increased levels of accountability</div>
    <div class="content">
        If you workout in your basement or living room and one morning you decide you just
        don’t feel like it, who<br> will know, besides you? Who will ask you what happened and
        hold you accountable to making sure you show up the <br> day? Likely, no one.
        Fitness communities will have coaches and other members that will notice if you
        don’t show up<br> and reach out. You’re also less likely to ‘no-show’ because you
        registered for the exercise class and know that<br> there is a spot with your name on it.
    </div><br>
    </div>

 <div class="sample">
    <div class="box">
      <h3> Join our community</h3><br>
    <form [formGroup]="comForm" (submit)="gothere()">

        <div class="form-group">
          <label >NAME</label><br>
          <input type="text" name="name" formControlName="name">
       <div *ngIf="comForm.controls['name'].invalid && comForm.controls['name'].touched" style="color:red" >
       <small style="color:red" *ngIf="comForm.controls['name'].errors?.['required'] && comForm.controls['name'].dirty">Please enter  username </small>
       <small style="color:red" *ngIf="comForm.controls['name'].errors?.['minlength']">Atleast 3 characters and Number not allowed</small>
      </div>
      </div>

        <div class="form-group">
        <label >EMAIL</label><br>
        <input type="text" name="email" formControlName="email">
     <div *ngIf="comForm.controls['email'].invalid && comForm.controls['email'].touched" style="color:red" >
     <small style="color:red" *ngIf="comForm.controls['email'].errors?.['required'] && comForm.controls['email'].dirty">Please enter  Email</small>
     <small style="color:red" *ngIf="comForm.controls['email'].errors?.['pattern']">Enter valid Email</small>
    </div>
    </div>
        <div class="sub">
          <button type="submit"  [disabled]="comForm.invalid">Join</button><br>
        </div>
</form>
</div>
</div>



    <footer>
        <div class="footer-content">
            <h3>LUV FIT</h3>
            <p>LUV FIT is the health and fitness Consultancy website where we can make use of many things
                like weight loss,weight gain and weight-management.</p>
            <ul class="socials">
                <li><a href="https://www.facebook.com/profile.php?id=100090517355244"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://twitter.com/KDhivyaa"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.linkedin.com/in/luvfit-a-322640266/"><i class="fa-brands fa-linkedin"></i></a></li>

             </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy;2022 <a href="#">LUV FIT</a>  </p>
         </div>
      </footer>


