    <div class="animated_gif">
      <img  src="assets/images/ezgif.com-gif-maker.gif"  alt="there must be a video" id="img">
      <br>

    <h1 class="our">OUR SERVICES</h1>
    <div id="grid-col">
      <div class="cell">
       <h6>Fitness Coach</h6>
       <div class="fit">
         <a routerLink="usercoach" >
          <img src="/assets/images/fitnesscoach.jpeg">
        </a>
       </div>
     </div>
      <div class="cell">
     <h6>Nutritionist</h6>
     <div class="fit1">
       <a routerLink="usernutri">
        <img src="/assets/images/nutritionist.jpeg">
      </a>
     </div>
      </div>
      <div class="cell">
       <h6>Yoga Instructor</h6>
       <div class="fit2">
         <a routerLink="useryoga">
          <img src="/assets/images/yogainstructor.jpeg">
        </a>
       </div>
     </div>
   </div>
<section>
  <div class="join">JOIN OUR COMMUNITY</div>
 <div class="css">
  <img src="assets/images/girlfit.webp" alt="class-header-performance" width="495" height="370">

 </div>
  <div class="full-align">
  <div class="comm-join">Joining a fitness community has so many benefits.
	 There are various environments for fitness communities in every town and city.
	Finding one that fits who you are, what you want to accomplish and the type of people
	you want to be surrounded by will help in every way for your health and wellness journey.
   As much as working out from home can be convenient, sometimes it’s too convenient. Below,
   I point out 10 reasons why belonging to a fitness community will help you towards your
    fitness goals!

</div>
<a routerLink="/community" ><button class="btn1">Know Us ></button></a>
</div>
<div class="whatsapp">
  <a href=" https://wa.me/919361627761"><i class="fa-brands fa-whatsapp fa-fade"></i></a>
  </div>
</section>

    <!-- <div class="ex">Upcoming Event</div>
  <div class="walk">
    <img src="assets\images\bann.jpg">
  </div>
  <marquee class="marquee">Registration link will be updated soon...</marquee> -->

  <!--image slider-->
<div class="float">
  <h1>Hope us for your healthy lifestyle</h1>
</div>
<div class="float1">
<section id="slider">
  <input type="radio" name="slider" id="s1" checked>
  <input type="radio" name="slider" id="s2">
  <input type="radio" name="slider" id="s3">
  <input type="radio" name="slider" id="s4">
  <input type="radio" name="slider" id="s5">

  <label for="s1" id="slide1"><img src="/assets/images/mengym.jpg" alt=""></label>
  <label for="s2" id="slide2"><img src="/assets/images/h100.jpeg" alt=""></label>
  <label for="s3" id="slide3"><img src="/assets/images/editing.jpg" alt=""></label>
  <label for="s4" id="slide4"><img src="/assets/images/kitkat.webp" alt=""></label>
  <label for="s5" id="slide5"><img src="/assets/images/po.jpg" alt=""></label>
</section>
</div>
<div class="up">
<marquee class="marquee"><a href="/gallery">Click me to see our gallery</a></marquee>

<section>
  <div class="set">
    <img src="/assets/images/mm.jpeg">
     </div>
     <div class="set1">
    <img src="assets\images\surf.jpg">
     </div>
     <div class="cover">
     <div class="heaad">BOOK NOW</div><br>
     <div class="para">By seeing our website Gallery you might know about our website
    clearly and also make<br> use of them to create awareness among others you also get an idea
    to mingle and <br>participate in our events and make use of them in the form of their goals
    such as weight<br>loss,weight gain,weight-management.<br><br>
    <a routerLink="/registration" ><button class="btn4">Book ></button></a>
     </div>
     </div>
     <div class="top2">
     <!-- <div class="plan"><h1>MEMBERSHIP PLAN</h1></div> -->
     <div class="box-container">
        <div class="bot">
            <h3 class="title">BASIC</h3>
            <h3 class="price">Cost : 40K</h3>
            <h3 class="price">4 months</h3><br><br>
            <ul>
                <li><i class="fa"></i>Meditation</li>
                <li><i class="fa"></i>Cardio Workout</li>
                <li><i class="fa"></i>Yoga</li>
                <li><i class="fa"></i>Diet Consultancy</li>
                <li><i class="fa"></i>Nutrician Consultancy</li>
                <li><i class="fa"></i>Weekly Twice Checkup</li>
                <li><i class="fa"></i>Customised Workouts</li>
            </ul><br>
            <a routerLink="payment" ><button class="btn">Pay now ></button></a>
          </div>
        <div class="bot">
            <h3 class="title">STANDARD</h3>
            <h3 class="price">Cost : 80K</h3>
            <h3 class="price">8 months</h3><br><br>
            <ul>
                <li><i class="fa"></i>Meditation</li>
                <li><i class="fa"></i>Cardio Workout</li>
                <li><i class="fa"></i>Yoga</li>
                <li><i class="fa"></i>Diet Consultancy</li>
                <li><i class="fa"></i>Nutrician Consultancy</li>
                <li><i class="fa"></i>Weekly Twice Checkup</li>
                <li><i class="fa"></i>Customised Workouts</li>
            </ul><br>
            <a routerLink="payment" ><button class="btn">Pay now ></button></a>

        </div>

        <div class="bot">
            <h3 class="title">PREMIUM</h3>
            <h3 class="price">Cost : 1L</h3>
            <h3 class="price">12 months</h3><br><br>
            <ul>
                <li><i class="fa"></i>Meditation</li>
                <li><i class="fa"></i>Cardio Workout</li>
                <li><i class="fa"></i>yoga</li>
                <li><i class="fa"></i>Diet Consultancy</li>
                <li><i class="fa"></i>Nutrician Consultancy</li>
                <li><i class="fa"></i>Weekly Twice Checkup</li>
                <li><i class="fa"></i>Customised Workouts</li>
            </ul><br>
            <a routerLink="payment" ><button class="btn">Pay now ></button></a>
      </div>
      </div>
     </div>
    </section>
    </div>
<app-footer></app-footer>

